* {
    padding: 0;
    margin: 0;
    font-family: Merriweather;
}

#toggleMode {
    padding: 10px 20px;
    position: relative;
    bottom: -100px;
    left: 735px;
    border-radius: 10px;
}
#head {
    text-align: center;
    font-family: Merriweather;
    font-weight: bold;
    height: 4rem;
    background-color: #00A6ED ;
    color: white;
    margin: auto;
    padding-top: 16px ;
    font-size: 45px;    
}

.button-handler {
    display: flex;
    justify-content: center;
    width: 600px;
    position: relative;
    top: 90px;
    left: 30%;
    justify-content: space-between;
    gap: inherit;
    
}
.game-buttons {
    display: flex;
    border-radius: 50%;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}
#rock, #paper, #scissors {
    border-radius: 50%;
    display: flex;
    

}

#rock :hover {
    opacity: 0.5;
} 

#paper :hover {
    opacity: 0.5;
}


#scissors :hover {
    opacity: 0.5;
}

.score-board {
    display: flex;
    width: 500px;
    gap: 40px;
    flex-direction: row;
    margin: 200px 0px 0px 570px;
    font-size: 30px;
    text-align: center;
    
}

#username-dis {
    text-align: center;
    margin-top: 20px;
    }

#results {
    border: black 1px solid;
    height: 40px;
    width: 20%;
    margin-left: 100px;
    position: absolute;
    left: 530px;
    color: black;
    text-align: center;
    background-color: #00A6ED;
    color: white;
    border-radius: 20px;
    padding-top: 15px;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    h1 {
       width: 1080px; 
       font-size: 40px;
    }

    h2 {
        margin-left: 450px;
    }
    .button-handler {
        left: 40%;
    }
    .score-board {
        margin-left: 50%;
    }
    #results {
        margin-left: -70px;
        margin-top: 50px;
    }
    #toggleMode {
        left: 77%;
        margin-top: 50px;
    }
}

@media screen and (max-width: 900px) and (min-width: 600px) {
    h1 {
        width: 960px; 
        font-size: 40px;
     }
 
     h2 {
         margin-left: 20px;
     }
     .button-handler {
         left: 20%;
     }
     .score-board {
         margin-left: 25%;
     }
     #results {
         margin-left: -170px;
         margin-top: 50px;
     }
     #toggleMode {
         left: 45%;
         margin-top: 50px;
     }
}
   

