* {
  padding: 0;
  margin: 0;
  font-family: Merriweather;
  color: white !important;
}
body {
  background: url("Backgrounds/Background-Wallpaper.png") no-repeat center center
    fixed;
  background-size: cover;
}
.navbar {
  font-weight: bolder !important;
  background-color: rgba(255, 255, 255, 0.505);
}
.navbar a,
span {
  color: black !important;
}
marquee {
  background-color: black !important;
  color: white !important;
}

.button-handler {
  margin: 5% 10% 0 20%;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
}
.game-buttons {
  display: flex;
  flex-direction: row;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
#rock,
#paper,
#scissors {
  display: flex;
  flex-direction: row;
}

#rock :hover {
  opacity: 0.5;
}

#paper :hover {
  opacity: 0.5;
}

#scissors :hover {
  opacity: 0.5;
}

.score-board {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 5%;
}

#username-dis {
  display: block;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
  color: black !important;
  background-color: rgba(255, 255, 255, 0.505);
  border-radius: 10rem;
  padding: 0.5rem;
  font-weight: bold;
}

#results {
  text-align: center;
  color: white;
  background-color: #00a6ed;
  border-radius: 20px;
  padding: 1%;
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .button-handler {
    grid-template-columns: 1fr;
    gap: 5%;
    margin: 5% 30% 20%;
  }
  #username-dis {
    width: 15rem;
  }
}
